@model MyCraftProjectSharingApp.Models.ViewModel
@using MyCraftProjectSharingApp.Models
@{
    ViewBag.Title = "CreateCraft";
}

<h2>Create a New Craft</h2>
<br />
<br />
@using (Html.BeginForm("CreateCraft", "Crafts", FormMethod.Post))
{
    if (Session["UserId"] != null && (int)Session["RoleID"] != 1)
    {
        if(TempData["CraftError"] != null)
        {
            <p><font color="red">@TempData["CraftError"].ToString()</font></p>
        }
        if (TempData["CraftSuccess"] != null)
        {
            <p><font color="red">@TempData["CraftSuccess"].ToString()</font></p>
        }
    @Html.HiddenFor(m => m.SingleCraft.User_ID)
    <div>
        <div>
            @Html.LabelFor(m => m.SingleCraft.CraftName, new { @class = "LabelFormat" })
            @Html.TextBoxFor(m => m.SingleCraft.CraftName, new { @class = "form-control TextboxFormat" })
            @Html.ValidationMessageFor(m => m.SingleCraft.CraftName)
        </div>
        <div>
            @Html.LabelFor(m => m.SingleCraft.Description, new { @class = "LabelFormat" })
            @Html.TextAreaFor(m => m.SingleCraft.Description, new { @class = "form-control TextboxFormat" })
            @Html.ValidationMessageFor(m => m.SingleCraft.Description)
        </div>
        <br />
        <input type="submit" value="Add" />
    </div>
    }
}